.u-section-1 .u-sheet-1 {
  min-height: 838px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 53px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 53px;
}

.u-section-1 .u-repeater-1 {
  min-height: 660px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 427px;
  margin-top: 29px;
  margin-bottom: 0;
  object-position: 50% 5.7%;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 21px 122px 0 60px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 427px;
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: 21px 122px 0 60px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 427px;
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: 21px 122px 0 60px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 427px;
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: 21px 122px 0 60px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 310px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 310px;
  right: 10px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-1 .u-image-1 {
    inset: auto;
    height: 338px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    inset: auto;
    height: 338px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    inset: auto;
    height: 338px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    inset: auto;
    height: 338px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-1 .u-image-1 {
    height: 400px;
  }

  .u-section-1 .u-image-2 {
    height: 400px;
  }

  .u-section-1 .u-image-3 {
    height: 400px;
  }

  .u-section-1 .u-image-4 {
    height: 400px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 207%;
    left: -53%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 693px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 693px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 693px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 693px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 276%;
    left: -88%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 426px;
  }

  .u-section-1 .u-image-2 {
    height: 426px;
  }

  .u-section-1 .u-image-3 {
    height: 426px;
  }

  .u-section-1 .u-image-4 {
    height: 426px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 438%;
    left: -169%;
  }
}