 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/photo-1481627834876-b7833e8f5570.jpeg');
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 435px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 375px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  --bottom-left-radius: 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-1 {
  width: 370px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  --bottom-left-radius: 50px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-2 {
  width: 370px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-list-item-3 {
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  --bottom-left-radius: 50px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-3 {
  width: 370px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-list-item-4 {
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  --bottom-left-radius: 50px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-4 {
  width: 370px;
  font-weight: 700;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 310px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 320px;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
  }

  .u-section-1 .u-text-3 {
    width: 320px;
  }

  .u-section-1 .u-text-4 {
    width: 320px;
  }
}